<!-- birthday/birthday_list.html -->
{% extends "base.html" %}

{% load static %}

{% block content %}
  {% for birthday in page_obj %}
    <div class="row">   

      <div class="col-2">  
        {% if birthday.image %}
          <img src="{% static birthday.image.url %}" height=100>
        {% endif %}
      </div>

      <div class="col-10">  
        <div>
          <a href="{% url 'birthday:detail' birthday.id %}">{{ birthday.first_name }} {{ birthday.last_name }}</a> - {{ birthday.birthday }}
        </div>      
        <div>
          <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a> | <a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a>
        </div>
      </div>

      {% if not forloop.last %}
        <hr class="mt-3">
      {% endif %}
    </div>
  {% endfor %}

  <!-- Подключаем пагинатор -->
  {% include "includes/paginator.html" %}

{% endblock %}